@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montez&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montez&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* styles/globals.css or component-level CSS */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.playflair {
  font-family: 'Playfair Display', serif;
}
.work-sanss {
  font-family: 'Work Sans', serif;
}

/* .title-class {
  
} */

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3.8rem;
  top: 0;
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */
  color: white;

  border-bottom: 0.6px solid rgba(205, 182, 164, 1);

  transition: all 0.1s ease-in-out;

  @media (min-width: 1536px) and (max-width: 1600px) {
    height: 4.36rem;
  }

  @media (min-width: 1280px) and (max-width: 1535px) {
    height: 4.01rem;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    height: 3.3rem;
  }

  .menu-button {
    background: rgba(255, 255, 255, 0.1);
    width: 4rem;
    height: 3.8rem;
    border: none;
    font-size: 1.5rem;
    border-right: 0.6px solid rgba(205, 182, 164, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;

    @media (min-width: 1536px) and (max-width: 1600px) {
      width: 5rem;
      height: 4.36rem;
    }

    @media (min-width: 1280px) and (max-width: 1535px) {
      width: 78px;
      height: 4.01rem;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: 3.3rem;
      width: 58px;
    }

    img {
      width: 1.8rem;
      height: 0.85rem;

      @media (min-width: 1280px) and (max-width: 1535px) {
        width: 1.6rem;
        height: 0.8rem;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 1.6rem;
        height: 0.78rem;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .navbar {
    display: flex;
    flex: 1;
    height: 3.5rem;
    padding-left: 3rem;

    @media (min-width: 1536px) and (max-width: 1600px) {
      height: 4.36rem;
    }
    @media (min-width: 1280px) and (max-width: 1535px) {
      height: 4.01rem;
      padding-left: 2.7rem;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: 3.3rem;
      padding-left: 2rem;
    }

    @media (max-width: 1023px) {
      align-items: center;
      justify-content: center;
    }

    .nav-items {
      min-width: 50%;
      display: flex;
      gap: 3rem;
      align-items: center;

      @media (min-width: 1536px) and (max-width: 1600px) {
        gap: 64px;
      }
      @media (min-width: 1280px) and (max-width: 1535px) {
        gap: 60px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        gap: 2rem;
      }

      /* Hide nav-items below 1024px */
      @media (max-width: 1023px) {
        display: none;
      }

      .nav-item {
        font-family: 'Inter', sans-serif;
        font-optical-sizing: auto;
        font-weight: 250;
        font-style: normal;
        font-size: 15px;

        @media (min-width: 1280px) and (max-width: 1535px) {
          font-size: 14px;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          font-size: 14px;
        }
      }
    }

    .logo {
      min-width: 50%;
      display: flex;
      align-items: center;

      @media (max-width: 1023px) {
        justify-content: center;
      }

      img {
        width: 9rem;
        height: auto;
        margin-left: -4.3rem;

        @media (min-width: 1536px) and (max-width: 1600px) {
          width: 124px;
          margin-left: -3rem;
        }
        @media (min-width: 1280px) and (max-width: 1535px) {
          width: 110px;
          margin-left: -43px;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          width: 8.5rem;
          margin-left: -2.5rem;
        }

        @media (max-width: 1023px) {
          margin-left: 0rem;
        }

        @media (max-width: 640px) {
          width: 9rem;
          margin-left: -1rem;
        }
      }
    }
  }

  .buttons {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 3.8rem;

    @media (min-width: 1536px) and (max-width: 1600px) {
      height: 4.36rem;
      padding-right: 0;
      padding-left: 0;
    }
    @media (min-width: 1280px) and (max-width: 1535px) {
      height: 4.01rem;
      padding-right: 0;
      padding-left: 0;
      gap: 0;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: 3.3rem;
      padding-right: 0;
      padding-left: 0;
      gap: 5px;
    }

    border-left: 0.6px solid rgba(205, 182, 164, 1);
    .message-button {
      width: 3.8rem;
      height: 3.8rem;
      border: none;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s ease-in-out;

      @media (min-width: 1536px) and (max-width: 1600px) {
        height: 4.36rem;
        width: 5rem;
      }
      @media (min-width: 1280px) and (max-width: 1535px) {
        height: 4.01rem;
        width: 65px;
      }

      @media (min-width: 1024px) and (max-width: 1279px) {
        height: 3.3rem;
        width: 58px;
      }

      img {
        width: 1.3rem;
        height: 1.2rem;

        @media (min-width: 1536px) and (max-width: 1600px) {
          width: 1.5rem;
          height: 1.5rem;

          margin-top: 4px;
        }
        @media (min-width: 1280px) and (max-width: 1535px) {
          width: 1.4rem;
          height: 1.35rem;

          margin-top: 4px;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          width: 1.35rem;
          height: 1.25rem;

          margin-top: 4px;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.101);
      }
    }
    .call-button {
      width: 3.8rem;
      height: 3.8rem;
      border: none;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s ease-in-out;

      @media (min-width: 1536px) and (max-width: 1600px) {
        height: 4.36rem;
        width: 5rem;
      }
      @media (min-width: 1280px) and (max-width: 1535px) {
        height: 4.01rem;
        width: 65px;
      }

      @media (min-width: 1024px) and (max-width: 1279px) {
        height: 3.3rem;
        width: 58px;
      }

      img {
        width: 1.4rem;
        height: 1.3rem;

        @media (min-width: 1536px) and (max-width: 1600px) {
          width: 1.3rem;
          height: 1.3rem;
        }
        @media (min-width: 1280px) and (max-width: 1535px) {
          width: 18px;
          height: 1.2rem;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
          width: 1.3rem;
          height: 1.2rem;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.101);
      }
    }
  }
}

.header--scrolled {
  background-color: white;
  color: black;
}

/* Remove borders and transparent backgrounds when scrolled */
.header--scrolled .menu-button,
.header--scrolled .buttons {
  background-color: transparent;
  border: none;
}

/* Change nav text color to black */
.header--scrolled .nav-item {
  color: black;
}

.prose,
.prose * {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
